<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content = 'IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectAIVA</title>
    <link href = "/static/css/me.css?detail=12" rel = 'stylesheet'/>
    <link href = "/static/css/bootstrap.css?detail=2" rel = 'stylesheet'/>
    <link rel="stylesheet" href="/static/css/bootstrap-select.css?q=1280549780">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker3.css?q=1280549780">
    <script type = "text/javascript" src = "/static/js/jquery-3.1.0.js?q=1280549780"></script>
    <script type = "text/javascript" src = "/static/js/bootstrap.js?q=1280549780"></script>
    <script type = "text/javascript" src = "/static/js/bootstrap-datepicker.js?q=1280549780"></script>
    <script src="/static/js/bootstrap-select.js"></script>
  </head>
  <body>
    {% include 'hola_ads/head.htm' %}
    <div id = 'select_area'>
      Type: <select class="selectpicker"  id = 'adtype_selector' data-size="20" title = "{{adtype}}" onchange = 'refresh()'>
      </select>
      Country: <select class="selectpicker" id = 'geo_selector' data-live-search="true" data-size="10" title = " {{geo}}" onchange = 'refresh()'>
      </select>
      Date: 
        <input class = 'me_date_picker' id = 'start_datepicker' type="text" class="form-control" value = "{{dt_start}}">
        TO
        <input class = 'me_date_picker' id = 'end_datepicker' type="text" class="form-control" value = "{{dt_end}}">
      Package: <input id = 'package_name_selector' value = '{{package_name}}' onchange = 'refresh()'/>
      <button type="button" id = 'query_button' class="btn btn-primary btn-g" data-toggle="modal">
        Query
      </button>
      <button type="button" id = 'clear_button' class="btn btn-danger btn-g" data-toggle="modal">
        Clear
      </button>
    </div>

    <div id = 'select_input'>
      <input type="text" name="" id = 'adtype_input' value = '{{adtype}}'/>
      <input type="text" name="" id = 'geo_input' value = '{{geo}}'/>
      <input type="text" name="" id = 'package_name_input' value = '{{package_name}}'/>
      <input type="text" name="" id = 'dt_start_input' value = '{{dt_start}}'/>
      <input type="text" name="" id = 'dt_end_input' value = '{{dt_end}}'/>
    </div>

    <div id = 'ads_detail'>
      <table id = 'ads_detail_table'>
        
      </table>
    </div>
    <div id = 'ads_table'></div>

    <div id="ads_page"
        style="position: fixed; bottom: 1%; z-index: 9998; right: 20%; display: ;">
      <ul class="pagination">
              <li><a href="javascript:prev();">&lt;&lt;</a></li>
              <li><a id="current_page">1</a></li>
              <li><a href="javascript:next();">&gt;&gt;</a></li>
              <li>&nbsp;</li>
              <li class="dropup">
                <select id = 'ads_page_selector' class="selectpicker" data-style="btn-info"
                      data-width="80px" data-size="5" data-title="跳页"
                      onChange="changepage_via_select()">
                  <option>#</option>
                </select>
              </li>
      </ul>
    </div>

    {% include 'hola_ads/foot.htm' %}

  </body>
  <script type="text/javascript">
    function get_selector(){
      $.ajax({
      url : "/pyanalyst/pyquery",
      method : 'post',
      data : {
        'typical' : 'get_selector'
      },
      dataType : 'json',
      success : function(data){
        export_to_dropdown(data);
      },
      error : function(err){
        alert(err);
      }
    });
    }
    function export_to_dropdown(data){
      var results = eval(data);
      var adtype_results = eval(results[0]);
      var geo_results = eval(results[1]);
      var adtype_results_str = '<option data-subtext = ""></option>'
      for(var index in adtype_results){
        adtype_results_str += '<option>' + adtype_results[index][0] + '</option>';
      }
      $('#adtype_selector').html(adtype_results_str);
      var geo_results_str = '<option data-subtext = ""></option>';
      for(var index in geo_results){
        geo_results_str += '<option>' + geo_results[index][0] + '</option>';
      }
      $('#geo_selector').html(geo_results_str);
      $('#adtype_selector').selectpicker('refresh');
      $('#geo_selector').selectpicker('refresh');
    }
    document.getElementById('query_button').onclick = function(){
      var href_str = '/pyanalyst?doquery=hai';
      var adtype = $('#adtype_input').val()
      var geo = $('#geo_input').val()
      var dt_start = $('#dt_start_input').val()
      var dt_end = $('#dt_end_input').val()
      var package_name = $('#package_name_input').val()
      var page = ''
      var offset = '10'
      href_str += '&adtype=' + adtype + '&package_name=' + package_name + '&geo=' + geo + '&dt_start=' + dt_start
      + '&dt_end=' + dt_end + '&page=' + page + '&offset=' + offset
      window.location.href = href_str;
    }

    function refresh(){
      if($('#adtype_selector').val() != ''){
        $('#adtype_input').val($('#adtype_selector').val())
      }
      if($('#geo_selector').val() != ''){
        $('#geo_input').val($('#geo_selector').val())
      }
      if($('#package_name_selector').val() != ''){
        $('#package_name_input').val($('#package_name_selector').val())
      }
    }

    function exprot_data_to_ad_list(data){
      var ads = eval(data);
      $('#ads_table').html('');
      var page_row = ''
      for(var index in ads){
        var single_row = '<div class = "ads_row">' + 
        '<img class = "icon_image" src = "' + ads[index][5] + '"/>' + 
        '<table class = "ads_content">' +
        '<tr><td><b>Title:</b> ' + decodeURIComponent(ads[index][8]).replace(/\+/g, ' ').substring(0, 40) + '</td>' + 
        '<td><b>SubTitle:</b> ' + decodeURIComponent(ads[index][7]).replace(/\+/g, ' ') + '</td></tr>' +
        '<tr><td>' + decodeURIComponent(ads[index][11]).replace(/\+/g, ' ').substring(0, 30) + 
        '<td>' + decodeURIComponent(ads[index][9]).replace(/\+/g, ' ').substring(0, 40) + '</td>' +
        '<tr>' +
        '<tr><td class = "package_info" onclick = "query_via_package(\'' + ads[index][14] + '\')"><b>Pkg:</b> ' + ads[index][14] + '</td>' + 
        '<td><b>Date:</b> ' + ads[index][15] + '</td>' +
        '</tr>' +
        '<tr><td><b>Country:</b> ' + ads[index][16] + '</td>' +
        '<td><b>Type:</b> ' + ads[index][20] + '</td></tr>' +
        '<tr>' +
        '<td><table>' +
        '<tr>' +
        '<td>展示次数:  ' + ads[index][19] + '</td>' + 
        '<td>展示天数: ' + ads[index][17] + '</td>' +
        '<td>展示国家数: ' + ads[index][18] + '</td>' +
        '</tr>' +
        '</table>' + 
        '</tr>' +
        '</table></td>' +
        '<div>' +
        '<a href = "/pyanalyst/ad_detail?image=' + ads[index][6] +'">' +
        '<img class = "ad_image" src = "' + ads[index][6] + '"/>' +
        '</a>' +
        '<a target = "_blank" href = "' + ads[index][6] + '"><input class = "img_button" type = "button" value = "查看图片"/></a>' +
        '<a target = "_blank" href = "' + ads[index][6] + '&w=1200&h=627' + '"><input class = "img_button" type = "button" value = "查看大图"/></a>' + 
        '<a  download = "projectAIVA" href = "' + ads[index][6] + '"><input class = "img_button" type = "button" value = "下载图片"/></a>' +
        '</div>' +
        '</div>'
        page_row += single_row;
      }
      $('#ads_table').html(page_row);
    }

    function page_plugin_init(data){
      $.ajax({
        url : "/pyanalyst/pyquery",
        method : 'post',
        data : {
          'typical' : 'query_page_via_type_geo_date',
          'adtype' : $('#adtype_input').val(),
          'geo' : $('#geo_input').val(),
          'dt_start' : $('#dt_start_input').val(),
          'dt_end' : $('#dt_end_input').val(),
          'package_name' : $('#package_name_input').val(),
          'offset' : 10
        },
        dataType : 'json',
        success : function(data){
          var count = eval(data)[0][0];
          //refresh plugin
          var selector = $('#ads_page_selector')
          var options_str = ''
          for(var i = Math.ceil(count / 10); i > 0; i --){
            options_str +=
            '<option>' + i + '</option>'
          }
          selector.html(options_str)
          selector.selectpicker('refresh')
        },
        error : function(err){
          alert(err);
        }
      });
      var page = '{{page}}'
      try{
        page = parseInt(page)
      }catch(exception){
        $('#current_page').html('1')
        return
      }
      if(page > -1){
        $('#current_page').html(page)
        return
      }
      $('#current_page').html('1')
    }

    function changepage_via_select(){
      var page = $('#ads_page_selector').val()
      changepage(page)
    }

    function prev(){
      var current_page = $('#current_page').html()
      try{
        current_page = parseInt(current_page)
      }catch(exception){
        return
      }
      if(current_page <= 1){
        return
      }
      changepage(current_page - 1)
    }

    function next(){
      var current_page = $('#current_page').html()
      try{
        current_page = parseInt(current_page)
      }catch(exception){
        return
      }
      changepage(current_page + 1)
    }

    function changepage(page){
      var href_str = '/pyanalyst?doquery=hai';
      var adtype = $('#adtype_input').val()
      var geo = $('#geo_input').val()
      var dt_start = $('#dt_start_input').val()
      var dt_end = $('#dt_end_input').val()
      var package_name = $('#package_name_input').val()
      var page = page + ''
      var offset = '10'
      href_str += '&adtype=' + adtype + '&geo=' + geo + '&package_name=' + package_name + '&dt_start='
      + dt_start + '&dt_end=' + dt_end + '&page=' + page + '&offset=' + offset
      window.location.href = href_str
    }

    function query_via_package(pkg){
      var href_str = '/pyanalyst?doquery=hai';
      href_str += '&package_name=' + pkg
      window.location.href = href_str
    }

    function init_datepicker(){
      $('#start_datepicker').datepicker({
        format: 'yyyymmdd',
        clearBtn: true,
        todayHighlight: true,
        endDate: '0d',
      })
      $('#start_datepicker').datepicker().on('changeDate', function(e){
        $('#start_datepicker').datepicker('hide')
        $('#dt_start_input').val($('#start_datepicker').val())
      })
      $('#end_datepicker').datepicker({
        format: 'yyyymmdd',
        clearBtn: true,
        todayHighlight: true,
        endDate: '0d',
      })
      $('#end_datepicker').datepicker().on('changeDate', function(e){
        $('#end_datepicker').datepicker('hide')
        $('#dt_end_input').val($('#end_datepicker').val())
      })
    }
    document.getElementById('clear_button').onclick = function(){
      clear()
    }

    function clear(){
      $('#adtype_selector').selectpicker('val', '')
      $('#geo_selector').selectpicker('val', '')
      $('#adtype_selector').selectpicker('refresh');
      $('#geo_selector').selectpicker('refresh');
      $('#package_name_selector').val('')
      $('#start_datepicker').val('')
      $('#end_datepicker').val('')
      $('#adtype_input').val('')
      $('#geo_input').val('')
      $('#package_name_input').val('')
      $('#dt_start_input').val('')
      $('#dt_end_input').val('')
    }


    window.onload = function (){
      console.log('query time: ' + ' {{query_time}} ')
      init_datepicker()
      page_plugin_init()
      get_selector();
      data = {{ data|tojson }}
      if(data != null && data != '' && data != '1'){
        exprot_data_to_ad_list(data)
      }
    }
  </script>
  <style type="text/css">
    #select_area {
      margin-top: 64px;
      padding: 10px;
      display: ;
    }
    #select_input{
      margin-top: 90px;
      padding: 10px;
      display: none;
    }
    #nav {
      visibility: ;
    }
    #query_button{
      margin: 5px
    }
    #float_table{
      width: 50%;
      float: right;
      margin-right: 30px;
    }
    #float_table_table{
      border: 1px solid;
      text-align: center;
    }
    #float_table_table td{
      border: 1px solid;
      padding: 10px
    }
    #ads_detail{
      width:  60%;
      float: right;
      margin-right: 30px;
    }
    #ads_detail_table {
      border: 1px solid;
      text-align: center;
    }
    #ads_detail_table tr{
      display: block; 
      float: left;
      padding: 1px;
    }
    #ads_detail_table th, #ads_detail_table td {
      display: block; 
      border: 1px solid;
      padding: 1px
    }
    .ads_row{
      background: ;
      text-align: center;
      border: 10px groove #CCCCFF;
      display: inline-block;
      width: 100%;
    }
    .ads_content{
      float: left;
      font-size: 15px;
      margin: 5px;
    }
    .ads_content tr{
      border-bottom: 1px groove;
    }
    .ads_content td{
      padding: 4px;
    }

    .ads_content table td{
    }

    .icon_image{
      float: left;
      width: 150px;
      height: 150px;
    }
    .ad_image{
      float: right;
      width: 300px;
      height: 150px;
    }
    .package_info{
      cursor: pointer;
      color: blue;
    }

    #ads_page{
      position: fixed; 
      bottom: 1%; 
      z-index: 9998; 
      right: 20%; 
      display: 
    }
    #ads_page select{

    }
    .me_date_picker{
      width: 96px;
    }

  </style>
</html>