<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content = 'IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectAIVA</title>
    <link href = "/static/css/me.css?detail=12" rel = 'stylesheet'/>
    <link href = "/static/css/bootstrap.css?detail=2" rel = 'stylesheet'/>
    <link rel="stylesheet" href="/static/css/bootstrap-select.css?q=1280549780">
    <script type = "text/javascript" src = "/static/js/jquery-3.1.0.js?q=1280549780"></script>
    <script type = "text/javascript" src = "/static/js/bootstrap.js?q=1280549780"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script type="text/javascript" src = '/static/js/d3.js'></script>
  </head>
  <body>
    {% include 'hola_ads/head.htm' %}
    <img src = "{{img_src}}"/>
    {% include 'hola_ads/foot.htm' %}
  </body>
  <style type="text/css">

  </style>
</html>